/**
* footer css
*/

@use "./common/common";

@mixin footer {
  .dg-footer {
    border: 1px solid var(--border-color);
    border-top-width: 0px;
    position: relative;
    vertical-align: top;
    height: 40px;

    .dg-paging {
      display: table;
      text-align: center;
      margin: 0px auto;
      > ul {
        position: absolute;

        &.left {
          left: 5px;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.center {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.right {
          right: 5px;
        }
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        margin: 0px;
        text-align: center;

        > li {
          display: inline;

          a,
          span {
            padding: 3px 7px;
            margin: 0px 1px;
            text-decoration: none;
            border-radius: 5px;
            vertical-align: middle;
          }

          &:first-child > a,
          &:first-child > span {
            margin-left: 0;
          }

          > a:hover,
          > span:hover,
          > a:focus,
          > span:focus {
            background-color: #d1e4f5;
          }
        }

        .active > a,
        > .active > span,
        > .active > a:hover,
        > .active > span:hover,
        > .active > a:focus,
        > .active > span:focus {
          z-index: 3;
          color: #fff;
          cursor: default;
          background-color: #4e9ffa;
          border-color: #4e9ffa;
        }

        > .disabled > span,
        > .disabled > span:hover,
        > .disabled > span:focus,
        > .disabled > a,
        > .disabled > a:hover,
        > .disabled > a:focus {
          opacity: 0.6;
          cursor: default;
          border-color: var(--disabled-bg);
          background-color: transparent;
        }
      }
    }

    .dg-status {
      position: absolute;
      right: 5px;
      height: 100%;
      display: table;
      top: 0px;
      vertical-align: middle;

      > span {
        padding-left: 15px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
