/**
* main css
*/
@use './main/header' as _HEADER;
@use './main/body' as _BODY;
@use './main/summary' as _SUMMARY;
@use './main/scroll' as _SCROLL;

@mixin gridStyle {
  /* grid style 처리*/
  &.dg-style- {
    &default {
    }
    &borderbottom {
      .dg-header-table {
        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            border-left: 1px solid transparent !important;
            border-right: 1px solid transparent !important;

            &:last-child {
              border-right: 1px solid var(--border-color) !important;
            }
          }
        }
      }
      .dg-body-table {
        tr > td {
          border-left: 1px solid transparent !important;
          border-right: 1px solid transparent !important;
          &:last-child {
            border-right: 1px solid var(--border-color) !important;
          }
        }
      }
    }

    &borderless {
      border-color: transparent !important;

      --header-gradient1: transparent;
      --header-gradient2: transparent;

      .dg-header-table {
        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            border-color: transparent !important;
          }
        }
      }
      .dg-body-table {
        tr {
          > td,
          > th {
            border-color: transparent !important;
          }
        }
      }

      .dg-fixed-column-line {
        background-color: transparent !important;
      }
    }

    &striped {
      .dg-body {
        &.dg-body-odd {
          .dg-row:nth-child(odd) {
            background-color: var(--row-bg);
          }
        }

        &.dg-body-even {
          .dg-row:nth-child(even) {
            background-color: var(--row-bg);
          }
        }
      }
    }

    &list {
      border-color: transparent !important;

      --header-gradient1: #fafafa;
      --header-gradient2: #fafafa;

      border-top: 2px solid var(--border-color) !important;
      border-bottom: 1px solid var(--border-color) !important;

      .dg-footer {
        border-color: transparent !important;
      }

      .dg-header-table {
        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            border-color: transparent !important;
            border-top-color: var(--border-color) !important;
            border-bottom-color: var(--border-color) !important;
          }
        }
      }
      .dg-body-table {
        tr {
          > td,
          > th {
            border-color: transparent !important;
            border-top-color: var(--border-color) !important;
            border-bottom-color: var(--border-color) !important;
          }
        }
      }

      .dg-fixed-column-line {
        background-color: transparent !important;
        border-top-color: var(--border-color) !important;
        border-bottom-color: var(--border-color) !important;
      }
    }
  }
}
