/**
* grid css
*/

@use "./common/common" as comm;

@mixin hiddenComponent {
  .dg-dropdown-menu {
    position: absolute;
    margin-top: 1px;
    border: 1px solid var(--border-color);
    display: none;
    background-color: var(--body-bg);
    min-width: 30px;
    overflow: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    max-height: 150px;

    &.open {
      display: block;
    }

    .dg-dropdown-item {
      cursor: pointer;
      padding: 2px 16px;
      text-align: center;

      &.selected {
        background-color: #e6f0ff;
        font-weight: bold;
        position: relative;

        &::before {
          content: "✔";
          position: absolute;
          left: 3px;
          color: #1a73e8;
          font-size: 0.9em;
        }
      }

      &:hover {
        background-color: var(--body-bg-hover);
      }
    }
  }
}
