/**
* hidden helper css
*/

@use "./common/common" as comm;

@mixin hiddenHelper {
  /*search-simple*/
  .dg-row-move-helper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none; /* 마우스 이벤트 통과 */
    will-change: transform;
    border: 1px solid #1a73e8;
  }
}
