/**
* hidden helper css
*/

@use "./common/common" as comm;

@mixin hiddenHelper {
  /*search-simple*/
  .dg-row-move-helper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0px 10px;
    color: var(--font-color);
    background-color: var(--body-bg);
    align-items: center;
    display: none;
    pointer-events: none; /* 마우스 이벤트 통과 */
    will-change: transform;
    border: 1px solid var(--border-thick-color);
  }
}
