/**
* toolbar css
*/
@use './common/common';

@mixin toolbar {
  .dg-toolbar {
    position: relative;
    vertical-align: top;
    height: 40px;
    display: none;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    /* 레이아웃 라인 */
    .dg-toolbar-row {
      display: grid;
      align-items: center;
      width: 100%;
      min-width: 0;
    }

    select {
      padding: 5px 0px 5px 3px;
    }

    input,
    button {
      padding: 5px 10px;
      border-radius: 3px;
    }

    /* section */
    .dg-toolbar-section {
      display: grid;
      min-width: 0;

      &.dg-grid-area-left {
        justify-self: start;
      }

      &.dg-grid-area-center {
        justify-self: center;
      }

      &.dg-grid-area-right {
        justify-self: end;
      }

      .dg-toolbar-field {
        display: grid;
        align-items: center;
        min-width: 0;
        width: 100%;
        overflow: hidden;
        grid-template-columns: minmax(0, 1fr);

        /* 레이블 처리 */
        .dg-label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        /* 컨트롤 내부 요소 방어구조 */
        .dg-control {
          min-width: 0;
          width: 100%;

          > * {
            width: 100%;
            min-width: 0;
          }
        }

        &.dg-group {
          grid-template-columns: auto minmax(0, 1fr);
          column-gap: 5px;
        }
      }
    }
  }
}
