/**
* grid css
*/

@use "./common/common" as comm;
@use "./toolbar" as _TOOLBAR;
@use "./main" as _MAIN;
@use "./footer" as _FOOTER;
@use "./hidden.component" as _HIDDEN;
@use "./main/contextmenu" as _CONTEXT;

.daracl-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  &[data-dg-theme="light"] .daracl-grid,
  &[data-dg-theme="light"] .dg-hidden-container,
  .daracl-grid > .dg-light,
  .dg-hidden-container.dg-light {
    --border-color: #cdcdcd;
    --border-thick-color: #b9bdc1;
    --scroll-bg: #f7f7f7;
    --scroll-track-bg: #f7f7f7;
    --scroll-thumb-bg: #a5a5a5;
    --scroll-thumb-hover-bg: #696969;
    --scroll-button-bg: #c5c3c3;
    --search-cell-bg: #fffebc;

    --status-danger-color: #d9534f;
    --status-danger-bg: #d9534f;
    --font-color: #686868;
    --font-hover-color: #3a3d41;
    --font-disable-color: #ebebeb;
    --invalid-font-color: #ff4136;
    --invalid-border-color: #ffb6b4;
    --invalid-bg: #fdd;
    --button-bg: #e8ecef;
    --button-bg-hover: #f2f3f4;
    --button-bg-active: #d7d7d7;
    --tab-bg: #f6f6f6;
    --tab-bg-hover: #ebebeb;
    --tooltip-bg: #3e3e3e;
    --tooltip-color: #fff;
    --field-margin-top: 10px;
    --input-bg: #fff;
    --input-color: #212529;
    --header-bg: #e6e6e6;
    --gradient1: #ffffff;
    --gradient2: #f1f1f1;

    --body-bg: #ffffff;
    --body-bg-hover: #d2d2d2;
    --summary-bg: #e6e6e6;
    --disabled-bg: #ebebeb;

    --fixed-column-bg: #9b9a9a;

    --header-help-bg: #6789f1;
    --header-help-bg-hover: #89a5f9;

    --header-bg-selection: #e9e9e9;

    --cell-bg-hover: #efefef;
    --cell-bg-selection: #e9faff;
    --cell-selection-border: #4762fa;

    --cell-bg-linenumber: #e6e6e6;
    --row-bg: #f3f6fa;
    --empty-icon-color: #adabab;

    --checkbox-bg: #4caf50;
    --checkbox-color: #ffffff;
    --checkbox-indeterminate-bg: #686868;

    --bar-positive-bg: #77c0fc;
    --bar-negative-bg: #ff8989;
  }

  &[data-dg-theme="dark"] .daracl-grid,
  &[data-dg-theme="dark"] .dg-hidden-container,
  .daracl-grid > .dg-dark,
  .dg-hidden-container.dg-dark {
    --border-color: #3a3a3a;
    --border-thick-color: #4d4d4d;

    --scroll-bg: #1e1e1e;
    --scroll-track-bg: #1e1e1e;
    --scroll-thumb-bg: #555;
    --scroll-thumb-hover-bg: #777;
    --scroll-button-bg: #333;
    --search-cell-bg: #97886b;

    --status-danger-color: #ff6b6b;
    --status-danger-bg: #ff6b6b;

    --font-color: #e0e0e0;
    --font-hover-color: #ffffff;
    --font-disable-color: #ebebeb;
    --invalid-font-color: #ff9b9b;
    --invalid-border-color: #ff5e5e;
    --invalid-bg: #3a1f1f;

    --button-bg: #2e2e2e;
    --button-bg-hover: #3a3a3a;
    --button-bg-active: #616161;

    --tab-bg: #2c2c2c;
    --tab-bg-hover: #3c3c3c;

    --tooltip-bg: #444;
    --tooltip-color: #fff;

    --field-margin-top: 10px;

    --input-bg: #2a2a2a;
    --input-color: #f0f0f0;

    --header-bg: #1a1717;
    --header-gradient1: #1a1717;
    --header-gradient2: #000000;
    --body-bg: #1a1a1a;
    --body-bg-hover: #565555;
    --summary-bg: #2c2c2c;
    --disabled-bg: #555;

    --fixed-column-bg: #cfcfcf;

    --header-help-bg: #e8e8e8;
    --header-help-bg-hover: #e8e8e8;

    --header-bg-selection: #565656;

    --cell-bg-hover: #2b2b2b;
    --cell-bg-selection: #264f78;
    --cell-selection-border: #47dcfa;

    --cell-bg-linenumber: #2e2e2e;
    --row-bg: #303236;

    --empty-icon-color: #888;

    --checkbox-bg: #00c1ff;
    --checkbox-color: #4e4e4e;
    --checkbox-indeterminate-bg: #fffbfb;

    --bar-positive-bg: #77c0fc;
    --bar-negative-bg: #ff8989;
  }
}

.daracl-grid,
.dg-hidden-container {
  background: transparent;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  position: relative;

  @include comm.boxSizing(comm.$box_sizing_border);

  * {
    border-spacing: 0;
    border-collapse: separate;
    color: var(--font-color);
    font-size: 12px;
    @include comm.boxSizing(comm.$box_sizing_border);
  }

  .dg-main {
    background-color: var(--body-bg);
  }

  input,
  select,
  button {
    background: var(--background_color);
    border: 1px solid var(--border-color);
  }

  button {
    cursor: pointer;
    &:hover {
      background: var(--background_thick_color);
    }
  }

  input {
    line-height: normal;
    margin: 0;
    padding: 0px 3px 0px 3px;
    display: inline-block;

    &[type="checkbox"] {
      margin: auto;
    }
  }

  .text-a {
    &l {
      text-align: left;
      justify-content: start;
    }
    &c {
      text-align: center;
      justify-content: center;
    }
    &r {
      text-align: right;
      justify-content: flex-end;
    }
  }

  .dg-display-none {
    display: none;
    visibility: hidden;
    width: 0px !important;
    overflow: hidden;
  }

  .df-hidden {
    max-height: 0vh !important;
    width: 0px;
    visibility: collapse;
    display: none !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .dg-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 6px;
    font-size: 14px;
    margin-bottom: 10px;

    input[type="radio"] {
      display: none;

      &:checked + .radiomark {
        border-color: var(--radio-color);
        background-color: var(--radio-color);

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }

    .radiomark {
      width: 16px;
      height: 16px;
      border: 1.5px solid #999;
      border-radius: 50%;
      position: relative;
      box-sizing: border-box;
      transition: all 0.1s ease-in-out;
    }
  }

  /*dg-switch*/
  .dg-switch,
  .dg-switch > label {
    position: relative;
    display: inline-block;
    min-width: 45px;
    height: 23px;

    input[type="checkbox"] {
      display: none;
    }

    .dg-slider {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      color: var(--input-color);
      background-color: #ccc;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;
      align-items: center;
      padding: 0 6px;
      font-weight: bold;
      display: inline-flex;

      &::before {
        content: "";
        position: absolute;
        height: 17px;
        width: 17px;
        left: 3px;
        top: 3px;
        background-color: var(--body-bg);
        border-radius: 50%;
        transition: transform 0.3s;
      }
    }

    input:checked + .dg-slider {
      background-color: var(--checkbox-bg);
      justify-content: flex-start;

      &::before {
        right: 3px;
        left: initial;
      }
    }

    input:not(:checked) + .dg-slider {
      justify-content: flex-end;
    }

    input:disabled + .dg-slider {
      background-color: var(--disabled-bg);
      cursor: not-allowed;

      &::before {
        background-color: #bdbdbd;
      }
    }
  }

  /* --// dg-switch */

  /* dg-checkbox */
  .dg-checkbox,
  .dg-checkbox > label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 6px;
    font-size: 14px;
    position: relative;

    &.dg-all {
      input[type="checkbox"] {
        &:checked + .dg-checkmark {
          &::after {
            border-width: 0 2px 2px 0;
          }
        }
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked + .dg-checkmark {
        background-color: var(--checkbox-bg);
        border-color: var(--checkbox-bg);

        &::after {
          content: "";
          position: absolute;
          left: 4px;
          top: 1px;
          width: 4px;
          height: 8px;
          border: solid var(--checkbox-color);
          border-width: 0 1.5px 1.5px 0;
          transform: rotate(45deg);
        }
      }
    }

    .dg-checkmark {
      margin-top: 3px;
      width: 16px;
      height: 16px;
      border: 1.5px solid #999;
      border-radius: 3px;
      position: relative;
      transition: all 0.1s;
      box-sizing: border-box;
    }

    &.indeterminate {
      .dg-checkmark {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 3px;
          background-color: var(--checkbox-indeterminate-bg);
          border-radius: 1px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  /* --// dg-checkbox */

  input,
  textarea {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
  }
}

.daracl-grid {
  @include _TOOLBAR.toolbar;
  @include _MAIN.main;
  @include _FOOTER.footer;

  .dg-renderer-container {
    visibility: visible;
    width: 0;
    height: 0px;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;

    & > * {
      position: absolute;
      z-index: 1000;
      display: none;
    }

    @include _HIDDEN.hiddenComponent;
  }
}

.dg-hidden-container {
  position: initial;
  @include _CONTEXT.contextMenu;
}
