/**
 * Grid CSS
 */

@use './base' as _base;
@use './components' as _components;
@use './views/style' as _gridStyle;
@use './themes' as theme;

@use './views/toolbar';
@use './views/main';
@use './views/footer';
@use './views/hidden/component' as _hiddenComponent;
@use './views/contextmenu' as _context;
@use './views/hidden/helper' as _hiddenHelper;

/* ==========================================================================
   Selection
   ========================================================================== */

.dg-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dg-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* ==========================================================================
   Theme
   ========================================================================== */

body {
  // Global theme
  &[data-dg-theme='light'] {
    .daracl-grid,
    .dg-hidden-layers {
      @include theme.theme(theme.$theme-light);
    }
  }

  &[data-dg-theme='dark'] {
    .daracl-grid,
    .dg-hidden-layers {
      @include theme.theme(theme.$theme-dark);
    }
  }

  // Grid-specific theme
  .daracl-grid .dg-layout,
  .dg-hidden-layers {
    &.dg-light {
      @include theme.theme(theme.$theme-light);
    }

    &.dg-dark {
      @include theme.theme(theme.$theme-dark);
    }
  }
}

/* ==========================================================================
   Common
   ========================================================================== */

.daracl-grid,
.dg-hidden-layers {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background: transparent;
  line-height: 1.2em;

  @include _base.all;
  @include _components.all;
  @include _gridStyle.all;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.daracl-grid {
  overflow: hidden;
  outline: none !important;

  &.dg-auto-height {
    overflow: visible;
    height: max-content;
  }

  @include toolbar.all;
  @include main.all;
  @include footer.all;

  /* ------------------------------------------------------------------------
     Layout
     ------------------------------------------------------------------------ */

  .dg-viewport {
    display: flex;
    position: relative;
  }

  .dg-layout {
    flex: 1 1 auto;
    background-color: var(--body-bg);
  }

  /* ------------------------------------------------------------------------
     Layers
     ------------------------------------------------------------------------ */

  .dg-layers {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

    width: 0;
    height: 0;

    visibility: visible;

    & > * {
      position: absolute;
      z-index: 1000;

      display: none;
    }

    @include _hiddenComponent.hiddenComponent;
  }
}

/* ==========================================================================
   Hidden Layers
   ========================================================================== */

.dg-hidden-layers {
  position: initial;
  height: 0;

  @include _context.contextMenu;
  @include _hiddenHelper.hiddenHelper;
}
