@import "_daracl-common.scss";

.daracl-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.daracl-grid {
  --border-color: #dfe1e5;
  --color-danger: #d9534f;
  --background-danger: #d9534f;
  --font-color: #686868;
  --font-hover-color: #3a3d41;
  --invalid-font-color: #ff4136;
  --invalid-border-color: #ffb6b4;
  --invalid-background-color: #fdd;
  --button-bg: #f6f6f6;
  --button-bg-hover: #ebebeb;
  --tab-bg: #f6f6f6;
  --tab-bg-hover: #ebebeb;
  --tooltip-background: #3e3e3e;
  --tooltip-color: #fff;
  --field-margin-top: 10px;
  --input-bg: #fff;
  --input-color: #212529;
  --input-disabled-bg: #ebebeb;
  --bg-grid-header: #f1f1f1;
}

body.dark .daracl-grid,
.daracl-grid.dark {
  --border-color: #41444c;
  --color-danger: #d9534f;
  --background-danger: #d9534f;
  --font-color: #b9bdc1;
  --font-hover-color: #f5f3f3;
  --invalid-font-color: #ff4136;
  --invalid-border-color: #ffb6b4;
  --invalid-background-color: #fdd;
  --button-bg: #435ebe;
  --button-bg-hover: #3950a2;
  --tab-bg: #23418f;
  --tab-bg-hover: #516db1;
  --tooltip-background: #3e3e3e;
  --tooltip-color: #fff;
  --field-margin-top: 10px;
  --input-bg: transparent;
  --input-color: #c6cddb;
  --input-disabled-bg: #878787;
  --bg-grid-header: #878787;
}

.daracl-grid {
  * {
    border-spacing: 0;
    border-collapse: separate;
    color: colorInfo($g_default_theme_name, "font_color");
    font-size: colorInfo($g_default_theme_name, "font_size");
    @include box-sizing($box_sizing_border);
  }

  border: 1px solid colorInfo($g_default_theme_name, "border_thick_color");
  background: transparent;
  @include box-sizing($box_sizing_border);

  & > div {
    position: relative;
  }

  input,
  select,
  button {
    background: colorInfo($g_default_theme_name, "background_color");
    border: 1px solid colorInfo($g_default_theme_name, "border_thick_color");
  }

  button {
    cursor: pointer;
    &:hover {
      background: colorInfo($g_default_theme_name, "background_thick_color");
    }
  }

  .input-text {
    width: 150px;
    vertical-align: top;
    height: 23px;
    margin-right: 5px;
  }

  .text-a {
    &l {
      text-align: left;
    }
    &c {
      text-align: center;
    }
    &r {
      text-align: right;
    }
  }

  .dg-display-none {
    display: none;
    visibility: hidden;
    width: 0px !important;
    overflow: hidden;
  }

  .df-hidden {
    max-height: 0vh !important;
    width: 0px;
    visibility: collapse;
    display: none !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  input {
    line-height: normal;
    margin: 0;
    padding: 0px 3px 0px 3px;
    display: inline-block;

    &[type="checkbox"] {
      margin: auto;
    }
  }

  input,
  textarea {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
  }

  @import "_toolbar.scss";

  @import "_main_.scss";

  @import "_footer.scss";

  .dg-header {
    display: table;
    position: relative;
    border-bottom: 1px solid colorInfo($g_default_theme_name, "border_thick_color");
    z-index: 2;
  }
}
