@charset "UTF-8";
/**
* toolbar css
*/
/**
* main css
*/
/**
* footer css
*/
/**
* hidden component css
*/
/**
* hidden helper css
*/
/**
* grid css
*/
.daracl-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body[data-dg-theme=light] .daracl-grid, body[data-dg-theme=light] .dg-hidden-container,
body .daracl-grid > .dg-light,
body .dg-hidden-container,
body .dg-hidden-container.dg-light {
  --border-color: #cdcdcd;
  --border-thick-color: #b9bdc1;
  --scroll-bg: #f7f7f7;
  --scroll-track-bg: #f7f7f7;
  --scroll-thumb-bg: #a5a5a5;
  --scroll-thumb-hover-bg: #696969;
  --scroll-button-bg: #c5c3c3;
  --search-cell-bg: #fffebc;
  --status-danger-color: #d9534f;
  --status-danger-bg: #d9534f;
  --font-color: #686868;
  --font-hover-color: #3a3d41;
  --font-disable-color: #ebebeb;
  --invalid-font-color: #ff4136;
  --invalid-border-color: #ffb6b4;
  --invalid-bg: #fdd;
  --button-bg: #e8ecef;
  --button-bg-hover: #cdcdcd;
  --button-bg-active: #d7d7d7;
  --tab-bg: #f6f6f6;
  --tab-bg-hover: #ebebeb;
  --tooltip-bg: #3e3e3e;
  --tooltip-color: #fff;
  --field-margin-top: 10px;
  --input-bg: #fff;
  --input-color: #212529;
  --header-bg: #e6e6e6;
  --header-gradient1: #ffffff;
  --header-gradient2: #f1f1f1;
  --body-bg: #ffffff;
  --body-bg-hover: #d2d2d2;
  --summary-bg: #e6e6e6;
  --disabled-bg: #ebebeb;
  --fixed-column-bg: #9b9a9a;
  --header-help-bg: #6789f1;
  --header-help-bg-hover: #89a5f9;
  --header-bg-selection: #e9e9e9;
  --cell-bg-hover: #efefef;
  --cell-bg-selection: #e9faff;
  --cell-selection-border: #4762fa;
  --cell-bg-linenumber: #e6e6e6;
  --row-bg: #f3f6fa;
  --empty-icon-color: #adabab;
  --checkbox-bg: #4caf50;
  --checkbox-color: #ffffff;
  --checkbox-indeterminate-bg: #686868;
  --bar-positive-bg: #77c0fc;
  --bar-negative-bg: #ff8989;
  --item-selected: #e9faff;
  --item-check-color: #1a73e8;
}
body[data-dg-theme=dark] .daracl-grid, body[data-dg-theme=dark] .dg-hidden-container,
body .daracl-grid > .dg-dark,
body .dg-hidden-container.dg-dark {
  --border-color: #3a3a3a;
  --border-thick-color: #4d4d4d;
  --scroll-bg: #1e1e1e;
  --scroll-track-bg: #1e1e1e;
  --scroll-thumb-bg: #555;
  --scroll-thumb-hover-bg: #777;
  --scroll-button-bg: #333;
  --search-cell-bg: #97886b;
  --status-danger-color: #ff6b6b;
  --status-danger-bg: #ff6b6b;
  --font-color: #e0e0e0;
  --font-hover-color: #ffffff;
  --font-disable-color: #ebebeb;
  --invalid-font-color: #ff9b9b;
  --invalid-border-color: #ff5e5e;
  --invalid-bg: #3a1f1f;
  --button-bg: #5a5a5a;
  --button-bg-hover: #727272;
  --button-bg-active: #616161;
  --tab-bg: #2c2c2c;
  --tab-bg-hover: #3c3c3c;
  --tooltip-bg: #444;
  --tooltip-color: #fff;
  --field-margin-top: 10px;
  --input-bg: #2a2a2a;
  --input-color: #f0f0f0;
  --header-bg: #1a1717;
  --header-gradient1: #1a1717;
  --header-gradient2: #000000;
  --body-bg: #1a1a1a;
  --body-bg-hover: #565555;
  --summary-bg: #2c2c2c;
  --disabled-bg: #555;
  --fixed-column-bg: #cfcfcf;
  --header-help-bg: #e8e8e8;
  --header-help-bg-hover: #e8e8e8;
  --header-bg-selection: #565656;
  --cell-bg-hover: #2b2b2b;
  --cell-bg-selection: #264f78;
  --cell-selection-border: #47dcfa;
  --cell-bg-linenumber: #2e2e2e;
  --row-bg: #303236;
  --empty-icon-color: #888;
  --checkbox-bg: #00c1ff;
  --checkbox-color: #4e4e4e;
  --checkbox-indeterminate-bg: #fffbfb;
  --bar-positive-bg: #77c0fc;
  --bar-negative-bg: #ff8989;
  --item-selected: #264f78;
  --item-check-color: #68a9ff;
}

.daracl-grid,
.dg-hidden-container {
  background: transparent;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box !important;
  /*dg-switch*/
  /* --// dg-switch */
  /* dg-checkbox */
  /* --// dg-checkbox */
}
.daracl-grid *,
.dg-hidden-container * {
  border-spacing: 0;
  border-collapse: separate;
  color: var(--font-color);
  font-size: 12px;
  box-sizing: border-box !important;
}
.daracl-grid .dg-main,
.dg-hidden-container .dg-main {
  background-color: var(--body-bg);
}
.daracl-grid input,
.daracl-grid select,
.daracl-grid button,
.dg-hidden-container input,
.dg-hidden-container select,
.dg-hidden-container button {
  background: var(--background_color);
  border: 1px solid var(--border-color);
}
.daracl-grid button,
.dg-hidden-container button {
  cursor: pointer;
}
.daracl-grid button:hover,
.dg-hidden-container button:hover {
  background: var(--background_thick_color);
}
.daracl-grid input,
.dg-hidden-container input {
  line-height: normal;
  margin: 0;
  padding: 0px 3px 0px 3px;
  display: inline-block;
}
.daracl-grid input[type=checkbox],
.dg-hidden-container input[type=checkbox] {
  margin: auto;
}
.daracl-grid .text-al,
.dg-hidden-container .text-al {
  text-align: left;
  justify-content: start;
}
.daracl-grid .text-ac,
.dg-hidden-container .text-ac {
  text-align: center;
  justify-content: center;
}
.daracl-grid .text-ar,
.dg-hidden-container .text-ar {
  text-align: right;
  justify-content: flex-end;
}
.daracl-grid .dg-display-none,
.dg-hidden-container .dg-display-none {
  display: none;
  visibility: hidden;
  width: 0px !important;
  overflow: hidden;
}
.daracl-grid .df-hidden,
.dg-hidden-container .df-hidden {
  max-height: 0vh !important;
  width: 0px;
  visibility: collapse;
  display: none !important;
  padding: 0px !important;
  margin: 0px !important;
}
.daracl-grid .dg-radio,
.dg-hidden-container .dg-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 10px;
}
.daracl-grid .dg-radio input[type=radio],
.dg-hidden-container .dg-radio input[type=radio] {
  display: none;
}
.daracl-grid .dg-radio input[type=radio]:checked + .radiomark,
.dg-hidden-container .dg-radio input[type=radio]:checked + .radiomark {
  border-color: var(--radio-color);
  background-color: var(--radio-color);
}
.daracl-grid .dg-radio input[type=radio]:checked + .radiomark::after,
.dg-hidden-container .dg-radio input[type=radio]:checked + .radiomark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}
.daracl-grid .dg-radio .radiomark,
.dg-hidden-container .dg-radio .radiomark {
  width: 16px;
  height: 16px;
  border: 1.5px solid #999;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.daracl-grid .dg-switch,
.daracl-grid .dg-switch > label,
.dg-hidden-container .dg-switch,
.dg-hidden-container .dg-switch > label {
  position: relative;
  display: inline-block;
  min-width: 38px;
  width: 38px;
  height: 19px;
  margin-top: 2px !important;
}
.daracl-grid .dg-switch input[type=checkbox],
.daracl-grid .dg-switch > label input[type=checkbox],
.dg-hidden-container .dg-switch input[type=checkbox],
.dg-hidden-container .dg-switch > label input[type=checkbox] {
  display: none;
}
.daracl-grid .dg-switch .dg-slider,
.daracl-grid .dg-switch > label .dg-slider,
.dg-hidden-container .dg-switch .dg-slider,
.dg-hidden-container .dg-switch > label .dg-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: var(--input-color);
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  padding: 0 6px;
  font-weight: bold;
  display: inline-flex;
}
.daracl-grid .dg-switch .dg-slider::before,
.daracl-grid .dg-switch > label .dg-slider::before,
.dg-hidden-container .dg-switch .dg-slider::before,
.dg-hidden-container .dg-switch > label .dg-slider::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: var(--body-bg);
  border-radius: 50%;
  transition: transform 0.3s;
}
.daracl-grid .dg-switch input:checked + .dg-slider,
.daracl-grid .dg-switch > label input:checked + .dg-slider,
.dg-hidden-container .dg-switch input:checked + .dg-slider,
.dg-hidden-container .dg-switch > label input:checked + .dg-slider {
  background-color: var(--checkbox-bg);
  justify-content: flex-start;
}
.daracl-grid .dg-switch input:checked + .dg-slider::before,
.daracl-grid .dg-switch > label input:checked + .dg-slider::before,
.dg-hidden-container .dg-switch input:checked + .dg-slider::before,
.dg-hidden-container .dg-switch > label input:checked + .dg-slider::before {
  right: 3px;
  left: initial;
}
.daracl-grid .dg-switch input:not(:checked) + .dg-slider,
.daracl-grid .dg-switch > label input:not(:checked) + .dg-slider,
.dg-hidden-container .dg-switch input:not(:checked) + .dg-slider,
.dg-hidden-container .dg-switch > label input:not(:checked) + .dg-slider {
  justify-content: flex-end;
}
.daracl-grid .dg-switch input:disabled + .dg-slider,
.daracl-grid .dg-switch > label input:disabled + .dg-slider,
.dg-hidden-container .dg-switch input:disabled + .dg-slider,
.dg-hidden-container .dg-switch > label input:disabled + .dg-slider {
  background-color: var(--disabled-bg);
  cursor: not-allowed;
}
.daracl-grid .dg-switch input:disabled + .dg-slider::before,
.daracl-grid .dg-switch > label input:disabled + .dg-slider::before,
.dg-hidden-container .dg-switch input:disabled + .dg-slider::before,
.dg-hidden-container .dg-switch > label input:disabled + .dg-slider::before {
  background-color: #bdbdbd;
}
.daracl-grid .dg-checkbox,
.daracl-grid .dg-checkbox > label,
.dg-hidden-container .dg-checkbox,
.dg-hidden-container .dg-checkbox > label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 6px;
  font-size: 14px;
  position: relative;
}
.daracl-grid .dg-checkbox.dg-all input[type=checkbox]:checked + .dg-checkmark::after,
.daracl-grid .dg-checkbox > label.dg-all input[type=checkbox]:checked + .dg-checkmark::after,
.dg-hidden-container .dg-checkbox.dg-all input[type=checkbox]:checked + .dg-checkmark::after,
.dg-hidden-container .dg-checkbox > label.dg-all input[type=checkbox]:checked + .dg-checkmark::after {
  border-width: 0 2px 2px 0;
}
.daracl-grid .dg-checkbox input[type=checkbox],
.daracl-grid .dg-checkbox > label input[type=checkbox],
.dg-hidden-container .dg-checkbox input[type=checkbox],
.dg-hidden-container .dg-checkbox > label input[type=checkbox] {
  display: none;
}
.daracl-grid .dg-checkbox input[type=checkbox]:checked + .dg-checkmark,
.daracl-grid .dg-checkbox > label input[type=checkbox]:checked + .dg-checkmark,
.dg-hidden-container .dg-checkbox input[type=checkbox]:checked + .dg-checkmark,
.dg-hidden-container .dg-checkbox > label input[type=checkbox]:checked + .dg-checkmark {
  background-color: var(--checkbox-bg);
  border-color: var(--checkbox-bg);
}
.daracl-grid .dg-checkbox input[type=checkbox]:checked + .dg-checkmark::after,
.daracl-grid .dg-checkbox > label input[type=checkbox]:checked + .dg-checkmark::after,
.dg-hidden-container .dg-checkbox input[type=checkbox]:checked + .dg-checkmark::after,
.dg-hidden-container .dg-checkbox > label input[type=checkbox]:checked + .dg-checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid var(--checkbox-color);
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}
.daracl-grid .dg-checkbox .dg-checkmark,
.daracl-grid .dg-checkbox > label .dg-checkmark,
.dg-hidden-container .dg-checkbox .dg-checkmark,
.dg-hidden-container .dg-checkbox > label .dg-checkmark {
  width: 16px;
  height: 16px;
  border: 1.5px solid #999;
  border-radius: 3px;
  position: relative;
  transition: all 0.1s;
  box-sizing: border-box;
}
.daracl-grid .dg-checkbox.indeterminate .dg-checkmark::after,
.daracl-grid .dg-checkbox > label.indeterminate .dg-checkmark::after,
.dg-hidden-container .dg-checkbox.indeterminate .dg-checkmark::after,
.dg-hidden-container .dg-checkbox > label.indeterminate .dg-checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  background-color: var(--checkbox-indeterminate-bg);
  border-radius: 1px;
  transform: translate(-50%, -50%);
}
.daracl-grid input,
.daracl-grid textarea,
.dg-hidden-container input,
.dg-hidden-container textarea {
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}

.daracl-grid {
  /* main scroll */
}
.daracl-grid .dg-toolbar {
  position: relative;
  vertical-align: top;
  height: 40px;
}
.daracl-grid .dg-main {
  border: 1px solid var(--border-color);
  width: 100%;
  height: 100px;
  position: relative;
  /*scroll 처리*/
  /* grid style 처리*/
  /* main container */
}
.daracl-grid .dg-main .fixed-column-line {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  z-index: 2;
  background-color: var(--fixed-column-bg);
}
.daracl-grid .dg-main[data-scroll=horizontal] .dg-scroll.dg-horizontal {
  display: block !important;
}
.daracl-grid .dg-main[data-scroll=vertical] .dg-scroll.dg-vertical {
  display: block !important;
}
.daracl-grid .dg-main[data-scroll=vertical] .dg-right {
  right: 0px !important;
}
.daracl-grid .dg-main[data-scroll=both] .dg-scroll {
  display: block !important;
}
.daracl-grid .dg-main[data-scroll=both] .dg-scroll-edge {
  display: block !important;
}
.daracl-grid .dg-main[data-scroll=both] .dg-right {
  right: 0px !important;
}
.daracl-grid .dg-main.dg-style-borderbottom .dg-header-table tr > .dg-header-cell,
.daracl-grid .dg-main.dg-style-borderbottom .dg-header-table tr > .dg-header-group-cell {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
.daracl-grid .dg-main.dg-style-borderbottom .dg-header-table tr > .dg-header-cell:last-child,
.daracl-grid .dg-main.dg-style-borderbottom .dg-header-table tr > .dg-header-group-cell:last-child {
  border-right: 1px solid var(--border-color) !important;
}
.daracl-grid .dg-main.dg-style-borderbottom .dg-body-table tr > td {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
.daracl-grid .dg-main.dg-style-borderbottom .dg-body-table tr > td:last-child {
  border-right: 1px solid var(--border-color) !important;
}
.daracl-grid .dg-main.dg-style-borderless {
  border: 1px solid transparent !important;
}
.daracl-grid .dg-main.dg-style-borderless .dg-header-table tr > .dg-header-cell,
.daracl-grid .dg-main.dg-style-borderless .dg-header-table tr > .dg-header-group-cell {
  border: 1px solid transparent !important;
}
.daracl-grid .dg-main.dg-style-borderless .dg-body-table tr > td {
  border: 1px solid transparent !important;
}
.daracl-grid .dg-main.dg-style-striped .dg-body.dg-body-odd .dg-row:nth-child(odd) {
  background-color: var(--row-bg);
}
.daracl-grid .dg-main.dg-style-striped .dg-body.dg-body-even .dg-row:nth-child(even) {
  background-color: var(--row-bg);
}
.daracl-grid .dg-main .dg-main-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.daracl-grid .dg-main .dg-main-container .dg-cell-ellipsis,
.daracl-grid .dg-main .dg-main-container .dg-cell-ellipsis > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-header {
  position: relative;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div {
  position: absolute;
  background: linear-gradient(var(--header-gradient1), var(--header-gradient2));
}
.daracl-grid .dg-main .dg-main-container .dg-header > div.dg-left {
  left: 0px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div.dg-left .fixed-column-line {
  right: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div.dg-center {
  z-index: 0;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div.dg-right {
  right: -1px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div.dg-right .fixed-column-line {
  left: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table {
  table-layout: fixed;
  width: 0px !important;
  min-width: auto !important;
  border-collapse: separate !important;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table tr > .dg-header-cell,
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table tr > .dg-header-group-cell {
  vertical-align: middle;
  border: 1px solid var(--border-color);
  border-top: none !important;
  border-left: none !important;
  position: relative;
  margin: 0px !important;
  padding: 0px !important;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-cell.selection {
  background-color: var(--header-bg-selection) !important;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper {
  position: relative;
  padding: 0;
  width: 100%;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper:hover .dg-sort-icon {
  display: block;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper:hover .dg-sort-icon svg {
  position: relative;
  top: 2px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0px;
  right: 3px;
  display: none;
  z-index: 3;
  font-size: 0pt;
  cursor: pointer;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon path {
  fill: #aeaeae;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon .dg-sort-num {
  font-size: 0.6rem;
  font-family: monospace;
  text-align: center;
  line-height: 0px;
  font-weight: bold;
  opacity: 0.7;
  position: relative;
  top: 4px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort] {
  display: block;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort] path {
  fill: #8a8a8a;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort] svg {
  position: relative;
  top: 3px;
  line-height: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort=asc] > svg {
  top: 6px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort=asc] > svg .dg-desc {
  display: none;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort=desc] > svg {
  top: -1px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .label-wrapper .dg-sort-icon[data-dg-sort=desc] > svg .dg-asc {
  display: none;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-search-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-search-icon.dg-on > svg {
  stroke: #ff5e5e !important;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-label {
  width: 100%;
  height: 100%;
  font-weight: 600;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-label .dg-inner {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-label .dg-inner .centered {
  position: relative;
  padding: 0px 8px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-label.sort-header {
  cursor: pointer;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-resizer {
  position: absolute;
  right: -2px;
  top: 0px;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  z-index: 2;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-resizer:hover {
  width: 12px;
  right: -6px;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-help-button {
  position: absolute;
  top: 0px;
  z-index: 3;
  cursor: pointer;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-help-button .dg-header-help {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-help-button .dg-header-help .dg-header-help-btn {
  opacity: 0.6;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  fill: var(--header-help-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-header > div > .dg-header-table .dg-header-help-button .dg-header-help .dg-header-help-btn:hover {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  fill: var(--header-help-bg-hover);
}
.daracl-grid .dg-main .dg-main-container .dg-body {
  position: relative;
  z-index: 0;
}
.daracl-grid .dg-main .dg-main-container .dg-body[data-view-mode=empty] .dg-empty-msg-area {
  display: flex;
  display: -webkit-flex;
}
.daracl-grid .dg-main .dg-main-container .dg-body .dg-empty-msg-area {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  -webkit-align-item: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.daracl-grid .dg-main .dg-main-container .dg-body .dg-empty-msg-area .dg-empty-msg {
  padding-bottom: 20px;
}
.daracl-grid .dg-main .dg-main-container .dg-body .dg-empty-msg-area .dg-empty-msg .empty-text {
  display: table-cell;
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
}
.daracl-grid .dg-main .dg-main-container .dg-body .dg-empty-msg-area .dg-icon-info {
  border: 3px solid;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  color: var(--empty-icon-color);
  box-sizing: border-box;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.daracl-grid .dg-main .dg-main-container .dg-body .dg-empty-msg-area .dg-icon-info:after {
  content: "";
  position: absolute;
  top: 10px; /* 7px → 10px 으로 조정 */
  left: 50%;
  width: 6px; /* 4px → 6px로 확대 */
  height: 5px; /* 3px → 5px로 확대 */
  pointer-events: none;
  box-shadow: inset 0 0 0 48px, 0 5px, 0 8px, 0 16px; /* 10px → 16px */
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div {
  position: absolute;
  background: var(--body-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-left {
  left: 0px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-left .fixed-column-line {
  right: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-left .dg-row > .dg-cell.dg-aside.selection:first-child {
  background: var(--header-bg-selection) !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-center {
  z-index: 0;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-right {
  right: -1px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div.dg-right .fixed-column-line {
  left: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table {
  table-layout: fixed;
  width: 0px !important;
  min-width: auto !important;
  border-collapse: separate !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row {
  background-color: var(--body-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell {
  vertical-align: middle;
  border: 1px solid var(--border-color);
  border-top: none !important;
  border-left: none !important;
  position: relative;
  padding: 0px !important;
  margin: 0 !important;
  overflow: hidden;
  /*
  &.modifi-info {
  }
  */
  /* image */
  /* button */
  /* bar */
  /*dg-checkbox */
  /*dg-switch */
  /* dropdown */
  /* aside row drag handle*/
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell.dg-search-highlight {
  background-color: var(--search-cell-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-cell-renderer {
  position: relative;
  margin: 0px 3px 1px 3px !important;
  min-height: 23px;
  height: 23px;
  line-height: 23px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell.line-number {
  background: linear-gradient(var(--header-gradient1), var(--header-gradient2));
  border-right: 1px solid var(--border-color) !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell:hover {
  background-color: var(--cell-bg-hover) !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell.selection {
  background-color: var(--cell-bg-selection) !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell.start-cell {
  box-shadow: inset 0px 0px 0px 1.3px var(--cell-selection-border);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-image {
  display: flex;
  align-items: center;
  height: 100%;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-image > .dg-cell-content {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-image > .dg-cell-content + .dg-cell-content-label {
  margin-left: 8px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-button {
  height: calc(100% - 4px);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-button > .dg-cell-content {
  padding: 1px 10px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background-color: var(--button-bg);
  cursor: pointer;
  text-decoration: none;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-button > .dg-cell-content:hover {
  background-color: var(--button-bg-hover);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-bar .dg-bar-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.1s ease;
  border-radius: 2px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-bar .dg-bar-fill.dg-positive {
  background-color: var(--bar-positive-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-bar .dg-bar-fill.dg-negative {
  background-color: var(--bar-negative-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-bar .dg-bar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  white-space: nowrap;
  z-index: 2;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-checkbox {
  display: flex;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-checkbox .dg-checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-switch {
  display: block;
  width: 100%;
  margin: 0px 0px 1px 0px !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown {
  display: flex;
  justify-content: center;
  margin: 0px 2px 0px 2px !important;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content {
  padding: 2px 2px;
  width: 100%;
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-label {
  flex: 1;
  padding: 0px 15px 0px 5px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-label.text-al {
  text-align: left;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-label.text-ac {
  text-align: center;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-label.text-ar {
  text-align: right;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-icon {
  font-size: 0.8em;
  position: absolute;
  height: calc(100% - 2px);
  right: 1px;
  padding: 0px 5px;
  background: var(--button-bg);
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-dropdown .dg-cell-content .dg-cell-content-icon::after {
  content: "▼";
  font-size: 1em;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-row-drag-handle {
  cursor: move;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-row-drag-handle::before {
  content: "≡";
  font-size: 18px;
  color: var(--font-color);
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-cell-click {
  text-decoration: underline;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-tree .dg-cell-content-expander {
  margin-left: 5px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-tree .dg-icon {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 16px;
  height: 24px;
  line-height: 24px;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 2px;
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-tree .dg-icon.dg-folder {
  background-image: url('data:image/svg+xml;utf8,<svg style="width: 16px; height: 16px; fill: rgb(233 215 158);" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"></path></svg>');
}
.daracl-grid .dg-main .dg-main-container .dg-body > div > .dg-body-table .dg-row > .dg-cell .dg-tree .dg-icon.dg-file {
  background-image: url('data:image/svg+xml;utf8,<svg style="width: 20px; height: 16px; fill: rgb(142, 142, 142);" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"></path></svg>');
}
.daracl-grid .dg-main .dg-main-container .dg-summary {
  position: relative;
  z-index: 2;
}
.daracl-grid .dg-main .dg-main-container .dg-summary.dg-top > div {
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--border-color);
  padding-top: 0px;
  padding-bottom: 1px;
}
.daracl-grid .dg-main .dg-main-container .dg-summary.dg-top > div > .dg-body-table {
  border-top: 0px solid transparent;
}
.daracl-grid .dg-main .dg-main-container .dg-summary.dg-top > div > .dg-body-table .dg-row > .dg-cell {
  border: 1px solid var(--border-color);
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div {
  position: absolute;
  background: var(--summary-bg);
  border-top: 1px solid var(--border-color);
  padding-top: 1px;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div.dg-left {
  left: 0px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div.dg-left .fixed-column-line {
  right: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div.dg-center {
  z-index: 0;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div.dg-right {
  right: -1px;
  z-index: 1;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div.dg-right .fixed-column-line {
  left: 0px;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div > .dg-body-table {
  table-layout: fixed;
  width: 0px !important;
  min-width: auto !important;
  border-collapse: separate !important;
  border-top: 1px solid var(--border-color);
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div > .dg-body-table .dg-row {
  background-color: var(--summary-bg);
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div > .dg-body-table .dg-row > .dg-cell {
  border: 1px solid var(--border-color);
  border-top: none !important;
  border-left: none !important;
  position: relative;
  padding: 0px !important;
  margin: 0 !important;
  overflow: hidden;
  font-weight: bold;
}
.daracl-grid .dg-main .dg-main-container .dg-summary > div > .dg-body-table .dg-row > .dg-cell.line-number {
  border-right: 1px solid var(--border-color) !important;
}
.daracl-grid .dg-resize-helper {
  width: 0;
  position: absolute;
  display: none;
  height: 100%;
  top: 0px;
  margin-left: -2px;
  z-index: 100;
  border-left: 3px dotted #bcbcbd;
}
.daracl-grid .dg-resize-helper.active {
  display: block;
}
.daracl-grid .dg-movedrop-helper {
  width: 100%;
  position: absolute;
  display: none;
  height: 3px;
  top: 0px;
  z-index: 100;
  background-color: #b6b6b6 !important;
}
.daracl-grid .dg-movedrop-helper.active {
  display: block;
}
.daracl-grid .dg-movedrop-helper.dg-drop-forbidden {
  background-color: #d95959 !important;
}
.daracl-grid .dg-scroll-container .dg-scroll-thumb {
  z-index: 1;
  position: absolute;
  border-radius: 0.5em !important;
  touch-action: none;
  background-color: var(--scroll-thumb-bg);
}
.daracl-grid .dg-scroll-container .dg-scroll-thumb.active, .daracl-grid .dg-scroll-container .dg-scroll-thumb:hover {
  background-color: var(--scroll-thumb-hover-bg);
}
.daracl-grid .dg-scroll-container .dg-scroll-track {
  position: relative;
  height: 100%;
  width: 100%;
}
.daracl-grid .dg-scroll-container .dg-scroll-edge {
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
  background-color: var(--scroll-track-bg);
}
.daracl-grid .dg-scroll-container .dg-scroll {
  display: none;
  background-color: var(--scroll-track-bg);
  /* vertical scroll */
  /* horizontal scroll */
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-vertical {
  height: 100%;
  width: 12px;
  position: absolute;
  text-align: center;
  right: 0px;
  top: 0px;
  z-index: 3;
  border-left: 0px solid transparent;
  border-bottom: 1px solid transparent;
  /* scroll bar */
  /* scroll button */
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-vertical .dg-scroll-thumb {
  top: 0px;
  right: 2px;
  position: absolute;
  z-index: 1;
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-vertical .dg-scroll-button {
  position: absolute;
  right: 0px;
  width: 100%;
  cursor: pointer;
  line-height: 100%;
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-horizontal {
  width: 100%;
  height: 12px;
  position: absolute;
  vertical-align: middle;
  bottom: 0px;
  z-index: 3;
  /* scroll button */
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-horizontal .dg-scroll-thumb {
  left: 0px;
  top: 2px;
}
.daracl-grid .dg-scroll-container .dg-scroll.dg-horizontal .dg-scroll-button {
  position: absolute;
  top: 0px;
  padding: 1px 0px;
  height: 100%;
  line-height: 100%;
  cursor: pointer;
}
.daracl-grid .dg-footer {
  border: 1px solid var(--border-color);
  background: var(--body-bg);
  border-top-width: 0px;
  position: relative;
  vertical-align: top;
  height: 40px;
}
.daracl-grid .dg-footer > span {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.daracl-grid .dg-footer > span.left {
  left: 5px;
}
.daracl-grid .dg-footer > span.center {
  left: 50%;
  transform: translate(-50%, 0%);
}
.daracl-grid .dg-footer > span.right {
  right: 5px;
}
.daracl-grid .dg-footer .dg-paging > ul {
  display: table-cell;
  vertical-align: middle;
  padding: 0px;
}
.daracl-grid .dg-footer .dg-paging > ul > li {
  display: inline;
}
.daracl-grid .dg-footer .dg-paging > ul > li a,
.daracl-grid .dg-footer .dg-paging > ul > li span {
  padding: 3px 7px;
  margin: 0px 1px;
  text-decoration: none;
  border-radius: 5px;
  vertical-align: middle;
}
.daracl-grid .dg-footer .dg-paging > ul > li:first-child > a, .daracl-grid .dg-footer .dg-paging > ul > li:first-child > span {
  margin-left: 0;
}
.daracl-grid .dg-footer .dg-paging > ul > li > a:hover,
.daracl-grid .dg-footer .dg-paging > ul > li > span:hover,
.daracl-grid .dg-footer .dg-paging > ul > li > a:focus,
.daracl-grid .dg-footer .dg-paging > ul > li > span:focus {
  background-color: #d1e4f5;
}
.daracl-grid .dg-footer .dg-paging > ul .active > a,
.daracl-grid .dg-footer .dg-paging > ul > .active > span,
.daracl-grid .dg-footer .dg-paging > ul > .active > a:hover,
.daracl-grid .dg-footer .dg-paging > ul > .active > span:hover,
.daracl-grid .dg-footer .dg-paging > ul > .active > a:focus,
.daracl-grid .dg-footer .dg-paging > ul > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #4e9ffa;
  border-color: #4e9ffa;
}
.daracl-grid .dg-footer .dg-paging > ul > .disabled > span,
.daracl-grid .dg-footer .dg-paging > ul > .disabled > span:hover,
.daracl-grid .dg-footer .dg-paging > ul > .disabled > span:focus,
.daracl-grid .dg-footer .dg-paging > ul > .disabled > a,
.daracl-grid .dg-footer .dg-paging > ul > .disabled > a:hover,
.daracl-grid .dg-footer .dg-paging > ul > .disabled > a:focus {
  opacity: 0.6;
  cursor: default;
  border-color: var(--disabled-bg);
  background-color: transparent;
}
.daracl-grid .dg-footer .dg-status {
  left: 10px;
}
.daracl-grid .dg-footer .dg-status > span {
  display: table-cell;
  vertical-align: middle;
}
.daracl-grid .dg-layer-container {
  visibility: visible;
  width: 0;
  height: 0px;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  /*search-simple*/
  /* validator message */
  /*edit */
  /*dropdown menu*/
}
.daracl-grid .dg-layer-container > * {
  position: absolute;
  z-index: 1000;
  display: none;
}
.daracl-grid .dg-layer-container .dg-search-simple {
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  min-width: 255px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
}
.daracl-grid .dg-layer-container .dg-search-simple > .dg-search-field {
  width: 50px;
  margin-right: 5px;
  padding: 0px;
  height: 25px;
  vertical-align: middle;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 25px;
  margin-right: 5px;
  outline: none;
  border: 1px solid var(--border-color);
  vertical-align: middle;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-text {
  width: calc(100% - 60px);
  height: 22px;
  background-color: var(--body-bg);
  border-width: 0px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons {
  position: absolute;
  top: 0;
  right: 2px;
  color: var(--input-color);
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button {
  width: 15px;
  min-width: 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: transparent;
  color: var(--input-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s, color 0.2s;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button:hover {
  background-color: var(--button-bg-hover);
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button.on {
  background-color: var(--button-bg-active);
  color: var(--input-color);
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button .dg-whole-word-icon {
  position: relative;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button .dg-whole-word-icon::before, .daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button .dg-whole-word-icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0.8;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button .dg-whole-word-icon::before {
  top: -2px;
}
.daracl-grid .dg-layer-container .dg-search-simple .dg-search-container .dg-search-icons .dg-icon-button .dg-whole-word-icon::after {
  bottom: -2px;
}
.daracl-grid .dg-layer-container .dg-search-simple > .dg-search-btn {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--button-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.daracl-grid .dg-layer-container .dg-search-simple > .dg-search-btn:hover {
  background-color: var(--button-bg-hover);
}
.daracl-grid .dg-layer-container .dg-validator-message {
  border: 2px solid var(--invalid-border-color);
  background-color: var(--invalid-bg);
  color: var(--invalid-font-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
}
.daracl-grid .dg-layer-container .dg-header-help-tooltip {
  border: 2px solid var(--border-color);
  background-color: var(--body-bg);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
}
.daracl-grid .dg-layer-container .dg-edit-input {
  background-color: var(--body-bg);
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  padding: 0px 5px;
  overflow: hidden;
  border: 2px solid var(--cell-selection-border);
  outline: none;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu {
  margin-top: 1px;
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 65px;
  max-height: 230px;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu.open {
  display: block;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item {
  cursor: pointer;
  padding: 2px 16px;
  text-align: center;
  opacity: 0.8;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item.disabled {
  background-color: var(--disabled-bg) !important;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item.dg-all {
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item.selected {
  background-color: var(--item-selected);
  font-weight: bold;
  position: relative;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item.selected::before {
  content: "✔";
  position: absolute;
  left: 3px;
  color: var(--item-check-color);
  font-size: 0.9em;
}
.daracl-grid .dg-layer-container .dg-dropdown-menu .dg-dropdown-item:hover {
  opacity: 1;
}

.dg-hidden-container {
  position: initial;
  height: 0px;
  /*search-simple*/
}
.dg-hidden-container .dg-contextmenu {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  display: none;
  min-width: 160px;
  z-index: 1000;
  width: auto;
  height: auto;
  padding: 5px 0;
  border-radius: 5px;
  margin: 2px 0 0;
  list-style: none;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  text-align: left;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dg-hidden-container .dg-contextmenu.dg-right {
  right: 0;
  left: auto;
}
.dg-hidden-container .dg-contextmenu .dg-divider {
  width: 100%;
  height: 10px;
  overflow: hidden;
  position: relative;
  display: block;
}
.dg-hidden-container .dg-contextmenu .dg-divider:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid var(--border-thick-color);
}
.dg-hidden-container .dg-contextmenu > .dg-contextmenu-check > a {
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: var(--font-color);
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  margin: 0px 5px;
}
.dg-hidden-container .dg-contextmenu > .dg-contextmenu-item > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding: 3px 20px 3px 14px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: var(--font-color);
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  margin: 0px 5px;
  border-radius: 4px;
}
.dg-hidden-container .dg-contextmenu > .dg-contextmenu-item > a:hover {
  color: var(--font-hover-color);
  background-color: var(--body-bg-hover);
}
.dg-hidden-container .dg-contextmenu > .dg-contextmenu-item.dg-on > a {
  color: var(--font-hover-color);
  background-color: var(--body-bg-hover);
}
.dg-hidden-container .dg-contextmenu > .dg-contextmenu-item.disabled > a {
  opacity: 0.5;
}
.dg-hidden-container .dg-contextmenu label {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 100%;
  vertical-align: middle;
}
.dg-hidden-container .dg-contextmenu input[type=checkbox],
.dg-hidden-container .dg-contextmenu input[type=radio] {
  vertical-align: baseline;
  position: relative;
  width: 20px;
}
.dg-hidden-container .dg-contextmenu .dg-contextmenu-header {
  cursor: default;
  color: var(--font-color);
  padding: 3px 7px;
  font-weight: bold;
  display: block;
}
.dg-hidden-container .dg-submenu-item {
  position: relative;
}
.dg-hidden-container .dg-submenu-item .dg-contextmenu {
  display: none;
}
.dg-hidden-container .dg-submenu-item.disabled > a:after {
  border-left-color: transparent !important;
}
.dg-hidden-container .dg-submenu-item.disabled .dg-contextmenu {
  display: none !important;
}
.dg-hidden-container .dg-submenu-item.dg-on > .dg-contextmenu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  display: block;
}
.dg-hidden-container .dg-submenu-item > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 0px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: var(--border-thick-color);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}
.dg-hidden-container .dg-contextmenu-label {
  max-width: 50%;
  display: table-cell;
}
.dg-hidden-container .dg-contextmenu-hotkey {
  width: 50%;
  max-width: 50%;
  padding-left: 8px;
  min-width: 78px;
  text-align: right;
  display: table-cell;
}
.dg-hidden-container .dg-contextmenu-hotkey-empty {
  width: 78px;
  min-width: 78px;
  margin-left: 8px;
  text-align: right;
  display: table-cell;
}
.dg-hidden-container .dg-row-move-helper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-left: 15px;
  margin-top: 10px;
  padding: 0px 10px;
  color: var(--font-color);
  background-color: var(--body-bg);
  align-items: center;
  display: none;
  pointer-events: none; /* 마우스 이벤트 통과 */
  will-change: transform;
  border-radius: 5px;
  border: 1px solid var(--border-thick-color);
}
.dg-hidden-container .dg-row-move-helper > .dg-row-move-content {
  line-height: 1;
}
.dg-hidden-container .dg-row-move-helper > .dg-row-move-status {
  width: 15px;
  height: 26px;
  flex-shrink: 0; /* 아이콘 찌그러짐 방지 */
  margin-right: 10px;
}
.dg-hidden-container .dg-row-move-helper > .dg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.dg-hidden-container .dg-row-move-helper > .dg-icon::before {
  content: "";
}
.dg-hidden-container .dg-row-move-helper > .dg-icon.dg-success {
  color: #28a745;
}
.dg-hidden-container .dg-row-move-helper > .dg-icon.dg-success::before {
  content: "✔";
}
.dg-hidden-container .dg-row-move-helper > .dg-icon.dg-fail {
  color: #dc3545;
}
.dg-hidden-container .dg-row-move-helper > .dg-icon.dg-fail::before {
  content: "✖";
}
/*# sourceMappingURL=daracl.grid.css.map */