/*
* base css
*/

@use '../abstracts' as comm;

@mixin base {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;

  /*
   * Global
   */
  * {
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    color: var(--font-color);
    font-size: 12px;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  /*
   * Form Controls
   */
  input,
  button,
  select,
  textarea {
    height: 28px;
    padding: 0 8px 0 5px;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    background-color: var(--input-bg);
    color: inherit;
    line-height: 1.2;
    outline: none;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &:hover,
    &:focus {
      border-color: var(--border-thick-color);
    }
  }

  /*
   * Button
   */
  button {
    cursor: pointer;
    background: var(--button-bg);

    &:hover {
      background: var(--button-bg-hover);
    }
  }

  .dg-primary {
    background-color: #0d6efd;
    * {
      color: #fff;
      --icon-stroke-color: #ffffff;
      --icon-fill-stroke-color: #494949;
    }
  }

  .dg-secondary {
    background-color: #6c757d;
    * {
      color: #fff;
      --icon-stroke-color: #ffffff;
      --icon-fill-stroke-color: #494949;
    }
  }

  .dg-info {
    background-color: #0dcaf0;
    * {
      color: #212529;
      --icon-stroke-color: #494949;
      --icon-fill-stroke-color: #ffffff;
    }
  }

  .dg-success {
    background-color: #198754;
    * {
      color: #fff;
      --icon-stroke-color: #ffffff;
      --icon-fill-stroke-color: #494949;
    }
  }

  .dg-warning {
    background-color: #ffc107;

    * {
      color: #212529;
      --icon-stroke-color: #494949;
      --icon-fill-stroke-color: #ffffff;
    }
  }

  .dg-danger {
    background-color: #dc3545;
    * {
      color: #fff;
      --icon-stroke-color: #ffffff;
      --icon-fill-stroke-color: #494949;
    }
  }
}
