/*
* base css
*/

@use '../abstracts' as comm;

@mixin base {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;

  /*
   * Global
   */
  * {
    border-spacing: 0;
    border-collapse: separate;
    box-sizing: border-box;
    color: var(--font-color);
    font-size: 12px;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  /*
   * Form Controls
   */
  input,
  button,
  select,
  textarea {
    height: 28px;
    padding: 0 8px 0 5px;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    background-color: var(--input-bg);
    color: inherit;
    line-height: 1.2;
    outline: none;

    &:hover,
    &:focus {
      border-color: var(--border-thick-color);
    }
  }

  /*
   * Button
   */
  button {
    cursor: pointer;
    background: var(--button-bg);

    &:hover {
      background: var(--button-bg-hover);
    }
  }

  /*
   * Input
   */
  input {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 8px;

    &[type='checkbox'] {
      margin: auto;
    }
  }

  /*
   * Textarea
   */
  textarea {
    padding: 0 5px 0 8px;
  }

  /*
   * Text Selection
   */
  input,
  textarea {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
