/**
* hidden helper css
*/

@mixin hiddenHelper {
  /*search-simple*/
  .dg-row-move-helper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-left: 15px;
    margin-top: 10px;
    padding: 0px 10px;
    color: var(--font-color);
    background-color: var(--body-bg);
    align-items: center;
    display: none;
    pointer-events: none; /* 마우스 이벤트 통과 */
    will-change: transform;
    border-radius: 5px;
    border: 1px solid var(--border-thick-color);

    > .dg-row-move-content {
      line-height: 1;
    }

    > .dg-row-move-status {
      width: 15px;
      height: 26px;
      flex-shrink: 0; /* 아이콘 찌그러짐 방지 */
      margin-right: 10px;
    }

    > .dg-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;

      &::before {
        content: '';
      }

      &.dg-drop-valid {
        color: #28a745;

        &::before {
          content: '\2714';
        }
      }

      &.dg-drop-invalid {
        color: #dc3545;

        &::before {
          content: '\2716';
        }
      }
    }
  }
}
