/**
* borderless style
*/

@mixin borderless {
  &borderless {
    .dg-main {
      border-color: transparent !important;
      --header-gradient1: transparent;
      --header-gradient2: transparent;

      .dg-header-table {
        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            border-color: transparent !important;
          }
        }
      }
      .dg-body-table {
        tr {
          > td,
          > th {
            border-color: transparent !important;
          }
        }
      }

      .dg-line-number {
        background: transparent !important;
      }

      .dg-fixed-column-line {
        background-color: transparent !important;
      }
    }
  }
}
