/**
* list style
*/
@mixin cells {
  &cells {
    .dg-main {
      border-color: transparent !important;

      border-top: 1px solid var(--border-thick-color) !important;
      border-bottom: 1px solid var(--border-color) !important;

      .dg-line-number {
        background: transparent !important;
      }

      .dg-fixed-column-line {
        background-color: transparent !important;
        border-top-color: var(--border-color) !important;
        border-bottom-color: var(--border-color) !important;
      }
    }

    .dg-footer {
      border-color: transparent !important;
    }
  }
}
