/**
* list style
*/
@mixin list {
  &list {
    .dg-main {
      border-color: transparent !important;

      --header-gradient1: #fafafa;
      --header-gradient2: #fafafa;

      border-top: 2px solid var(--border-color) !important;
      border-bottom: 1px solid var(--border-color) !important;

      .dg-footer {
        border-color: transparent !important;
      }

      .dg-header-table {
        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            border-color: transparent !important;
            border-top-color: var(--border-color) !important;
            border-bottom-color: var(--border-color) !important;
          }
        }
      }
      .dg-body-table {
        tr {
          > td,
          > th {
            border-color: transparent !important;
            border-top-color: var(--border-color) !important;
            border-bottom-color: var(--border-color) !important;
          }
        }
      }

      .dg-fixed-column-line {
        background-color: transparent !important;
        border-top-color: var(--border-color) !important;
        border-bottom-color: var(--border-color) !important;
      }
    }
  }
}
