@use '../common/common' as comm;

@mixin renderer {
  /* image */
  .dg-image {
    display: flex;
    align-items: center;
    height: 100%;

    > .dg-cell-content {
      width: auto;
      height: 100%;
      object-fit: contain;
      display: block;

      & + .dg-cell-content-label {
        margin-left: 8px;
      }
    }
  }

  /* button */
  .dg-button {
    height: calc(100% - 4px);
    > .dg-cell-content {
      padding: 1px 10px;
      border: 1px solid var(--border-color);
      border-radius: 3px;
      background-color: var(--button-bg);
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: var(--button-bg-hover);
      }
    }
  }

  /* bar */
  .dg-bar {
    .dg-bar-fill {
      position: absolute;
      top: 0;
      bottom: 0;
      transition: all 0.1s ease;
      border-radius: 2px;
      z-index: 1;

      &.dg-positive {
        background-color: var(--bar-positive-bg);
      }

      &.dg-negative {
        background-color: var(--bar-negative-bg);
      }
    }

    .dg-bar-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      white-space: nowrap;
      z-index: 2;
    }
  }

  /*dg-checkbox */
  .dg-checkbox {
    display: flex;

    .dg-checkmark {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  /*dg-switch */
  .dg-switch {
    display: block;
    width: 100%;
    margin: 0px 0px 1px 0px !important;
  }

  /* dropdown */
  .dg-dropdown {
    display: flex;
    justify-content: center;
    margin: 0px 2px 0px 2px !important;

    .dg-cell-content {
      padding: 2px 2px;
      width: 100%;
      //background-color: var(--button-bg);
      border: 1px solid var(--border-color);
      cursor: pointer;
      display: flex;
      align-items: center;

      .dg-cell-content-label {
        flex: 1;
        padding: 0px 15px 0px 5px;
        text-align: center;
        white-space: nowrap;
        z-index: 1;

        &.text-a {
          &l {
            text-align: left;
          }
          &c {
            text-align: center;
          }
          &r {
            text-align: right;
          }
        }
      }

      .dg-cell-content-icon {
        font-size: 0.8em;
        position: absolute;
        height: calc(100% - 2px);
        right: 1px;
        padding: 0px 5px;
        background: var(--button-bg);
        z-index: 1;
        &::after {
          content: '▼';
          font-size: 1em;
        }
      }
    }
  }
  /* aside row drag handle*/
  .dg-row-drag-handle {
    cursor: move;
    &::before {
      content: '\2261';
      font-size: 18px;
      color: var(--font-color);
    }
  }

  .dg-cell-click {
    text-decoration: underline;
  }

  .dg-tree {
    .dg-cell-content-expander {
      margin-left: 5px;
    }
    .dg-icon {
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      width: 16px;
      height: 24px;
      line-height: 24px;
      background-size: 16px 16px;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 2px;

      &.dg-folder {
        background-image: url('data:image/svg+xml;utf8,<svg style="width: 16px; height: 16px; fill: rgb(233 215 158);" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"></path></svg>');
      }

      &.dg-file {
        background-image: url('data:image/svg+xml;utf8,<svg style="width: 20px; height: 16px; fill: rgb(142, 142, 142);" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"></path></svg>');
      }
    }
  }
}
