@use '../common/common' as comm;
@use './body.renderer.scss' as _RENDERER;

@mixin body {
  .dg-body {
    position: relative;
    z-index: 0;

    &[data-view-mode='empty'] {
      .dg-empty-msg-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
      }
    }

    .dg-empty-msg-area {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      align-items: center;
      -webkit-align-item: center;
      justify-content: center;
      -webkit-justify-content: center;

      .dg-empty-msg {
        padding-bottom: 20px;
        .empty-text {
          display: table-cell;
          font-weight: bold;
          font-size: 24px;
          padding-left: 10px;
        }
      }

      .dg-icon-info {
        border: 3px solid;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        color: var(--empty-icon-color);
        box-sizing: border-box;
        border-radius: 50%;
        width: 45px;
        height: 45px;

        &:after {
          content: '';
          position: absolute;
          top: 10px; /* 7px → 10px 으로 조정 */
          left: 50%;
          width: 6px; /* 4px → 6px로 확대 */
          height: 5px; /* 3px → 5px로 확대 */
          pointer-events: none;
          box-shadow: inset 0 0 0 48px, /* 32px → 48px (비율 맞게 확대) */ 0 5px, /* 3px → 5px */ 0 8px,
            /* 5px → 8px */ 0 16px; /* 10px → 16px */
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
        }
      }
    }

    & > div {
      position: absolute;
      background: var(--body-bg);

      &.dg-left {
        left: 0px;
        z-index: 1;

        .fixed-column-line {
          right: 0px;
        }

        .dg-row > .dg-cell.dg-aside.selection:first-child {
          background: var(--header-bg-selection) !important;
        }
      }

      &.dg-center {
        z-index: 0;
      }

      &.dg-right {
        right: -1px;
        z-index: 1;

        .fixed-column-line {
          left: 0px;
        }
      }

      > .dg-body-table {
        table-layout: fixed;
        width: 0px !important;
        min-width: auto !important;
        border-collapse: separate !important;
        .dg-row {
          background-color: var(--body-bg);
        }

        .dg-row > .dg-cell {
          vertical-align: middle;
          border: 1px solid var(--border-color);
          border-top: none !important;
          border-left: none !important;
          position: relative;
          padding: 0px !important;
          margin: 0 !important;
          overflow: hidden;

          &.dg-search-highlight {
            background-color: var(--search-cell-bg);
          }

          .dg-cell-renderer {
            position: relative;
            margin: 0px 3px 1px 3px !important;
            min-height: 23px;
            height: 23px;
            display: grid;
            align-items: center;

            &.dg-white-space {
              line-height: 1.4;
              overflow-wrap: break-word;
              white-space: pre-wrap;
            }
          }

          &.line-number {
            //background-color: var(--cell-bg-linenumber) !important;
            background: linear-gradient(var(--header-gradient1), var(--header-gradient2));
          }
          /*
          &.modifi-info {
          }
          */
          &:hover {
            background-color: var(--cell-bg-hover) !important;
          }

          &.selection {
            background-color: var(--cell-bg-selection) !important;
          }

          &.start-cell {
            -webkit-box-shadow: inset 0px 0px 0px 1.3px var(--cell-selection-border);
            -moz-box-shadow: inset 0px 0px 0px 1.3px var(--cell-selection-border);
            box-shadow: inset 0px 0px 0px 1.3px var(--cell-selection-border);
          }

          @include _RENDERER.renderer;
        }
      }
    }
  }
}
