@use '../common/common';

@mixin contextMenu {
  .dg-contextmenu {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    display: none;
    min-width: 160px;
    z-index: 1000;
    width: auto;
    height: auto;
    padding: 5px 0;
    border-radius: 5px;
    margin: 2px 0 0;
    list-style: none;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    background-color: var(--body-bg);
    text-align: left;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    &.dg-region-right {
      right: 0;
      left: auto;
    }

    .dg-divider {
      width: 100%;
      height: 10px;
      overflow: hidden;
      position: relative;
      display: block;

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-top: 1px solid var(--border-thick-color);
      }
    }

    > .dg-contextmenu-check {
      > a {
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: var(--font-color);
        white-space: nowrap;
        text-decoration: none;
        outline: none;
        margin: 0px 5px;
      }
    }

    > .dg-contextmenu-item {
      > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        padding: 3px 20px 3px 14px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: var(--font-color);
        white-space: nowrap;
        text-decoration: none;
        outline: none;
        margin: 0px 5px;
        border-radius: 4px;

        &:hover {
          color: var(--font-hover-color);
          background-color: var(--body-bg-hover);
        }
      }

      &.dg-on {
        > a {
          color: var(--font-hover-color);
          background-color: var(--body-bg-hover);
        }
      }

      &.disabled > a {
        opacity: 0.5;
      }
    }

    label {
      display: inline-block;
      font-weight: bold;
      padding: 5px 10px;
      line-height: 100%;
      vertical-align: middle;
    }

    input[type='checkbox'],
    input[type='radio'] {
      vertical-align: baseline;
      position: relative;
      width: 20px;
    }

    .dg-contextmenu-header {
      cursor: default;
      color: var(--font-color);
      padding: 3px 7px;
      font-weight: bold;
      display: block;
    }
  }

  .dg-submenu-item {
    position: relative;

    .dg-contextmenu {
      display: none;
    }

    &.disabled {
      > a:after {
        border-left-color: transparent !important;
      }
      .dg-contextmenu {
        display: none !important;
      }
    }

    &.dg-on {
      > .dg-contextmenu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        display: block;
      }
    }

    > a:after {
      display: block;
      float: right;
      width: 0;
      height: 0;
      margin-top: 0px;
      margin-right: -10px;
      border-color: transparent;
      border-left-color: var(--border-thick-color);
      border-style: solid;
      border-width: 5px 0 5px 5px;
      content: ' ';
    }
  }

  .dg-contextmenu-label {
    max-width: 50%;
    display: table-cell;
  }

  .dg-contextmenu-hotkey {
    width: 50%;
    max-width: 50%;
    padding-left: 8px;
    min-width: 78px;
    text-align: right;
    display: table-cell;
  }

  .dg-contextmenu-hotkey-empty {
    width: 78px;
    min-width: 78px;
    margin-left: 8px;
    text-align: right;
    display: table-cell;
  }
}
