@use '../common/common' as comm;

@mixin header {
  .dg-header {
    position: relative;
    z-index: 1;

    & > div {
      position: absolute;
      background: linear-gradient(var(--header-gradient1), var(--header-gradient2));

      &.dg-left {
        left: 0px;
        z-index: 1;

        .fixed-column-line {
          right: 0px;
        }
      }

      &.dg-center {
        z-index: 0;
      }

      &.dg-right {
        right: -1px;
        z-index: 1;

        .fixed-column-line {
          left: 0px;
        }
      }

      > .dg-header-table {
        table-layout: fixed;
        width: 0px !important;
        min-width: auto !important;
        border-collapse: separate !important;

        tr > {
          .dg-header-cell,
          .dg-header-group-cell {
            vertical-align: middle;
            border: 1px solid var(--border-color);
            border-top: none !important;
            border-left: none !important;
            position: relative;
            margin: 0px !important;
            padding: 0px !important;
          }
        }

        .dg-header-cell.selection {
          background-color: var(--header-bg-selection) !important;
        }

        .label-wrapper {
          position: relative;
          padding: 0;
          width: 100%;

          &:hover {
            .dg-sort-icon {
              display: block;

              svg {
                position: relative;
                top: 2px;
              }
            }
          }

          .dg-sort-icon {
            position: absolute;
            width: 10px;
            height: 100%;
            top: 0px;
            right: 3px;
            display: none;
            z-index: 3;
            font-size: 0pt;
            cursor: pointer;

            path {
              fill: #aeaeae;
            }

            .dg-sort-num {
              font-size: 0.6rem;
              font-family: monospace;
              text-align: center;
              line-height: 0px;
              font-weight: bold;
              opacity: 0.7;
              position: relative;
              top: 4px;
            }

            &[data-dg-sort] {
              path {
                fill: #8a8a8a;
              }
              svg {
                position: relative;
                top: 3px;
                line-height: 0px;
              }
              display: block;
            }

            &[data-dg-sort='asc'] > svg {
              top: 6px;
              .dg-desc {
                display: none;
              }
            }
            &[data-dg-sort='desc'] > svg {
              top: -1px;
              .dg-asc {
                display: none;
              }
            }
          }
        }

        .dg-search-icon {
          width: 12px;
          height: 12px;
          cursor: pointer;
          position: absolute;
          top: 0px;
          left: 0px;

          &.dg-on {
            > svg {
              stroke: #ff5e5e !important;
            }
          }
        }

        .dg-header-label {
          width: 100%;
          height: 100%;
          font-weight: 600;

          .dg-inner {
            vertical-align: middle;
            text-align: center;
            .centered {
              position: relative;
              padding: 0px 8px 0px 5px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &.sort-header {
            cursor: pointer;
          }
        }

        .dg-header-resizer {
          position: absolute;
          right: -2px;
          top: 0px;
          width: 4px;
          height: 100%;
          cursor: col-resize;
          z-index: 2;
        }

        .dg-header-resizer:hover {
          width: 12px;
          right: -6px;
        }

        .dg-header-help-button {
          position: absolute;
          top: 0px;
          z-index: 3;
          cursor: pointer;

          .dg-header-help {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 12px;
            height: 12px;
            z-index: 1;

            .dg-header-help-btn {
              @include comm.opacityVal(0.6);
              fill: var(--header-help-bg);
            }

            .dg-header-help-btn:hover {
              @include comm.opacityVal(1);
              fill: var(--header-help-bg-hover);
            }
          }
        }
      }
    }
  }
}
