@use "../common/common";

@mixin scroll {
  .dg-scroll-thumb {
    z-index: 1;
    position: absolute;
    border-radius: 0.5em !important;
    -ms-touch-action: none;
    touch-action: none;
    background-color: var(--scroll-thumb-bg);

    &.active,
    &:hover {
      background-color: var(--scroll-thumb-hover-bg);
    }
  }
  /*
  .dg-scroll-button {
    &:hover {
      background-color: var(--scroll-button-bg);
    }
  }
 */

  .dg-scroll-track {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .dg-scroll {
    display: none;
    background-color: var(--scroll-track-bg);
    padding: 1;

    /* vertical scroll */
    &.vertical {
      height: 100%;
      width: 12px;
      position: absolute;
      text-align: center;
      right: 0px;
      top: 0px;
      z-index: 3;
      border-left: 0px solid #d5d5d8;
      padding: 0px 1px 0px 1px;
      border-bottom: 1px solid transparent;

      /* scroll bar */
      .dg-scroll-thumb {
        top: 0px;
        position: absolute;
        margin: 14px 1px 14px 1px;
        width: calc(100% - 4px);
        z-index: 1;
      }

      /* scroll button */
      .dg-scroll-button {
        position: absolute;
        left: 0px;
        height: 12px;
        width: 100%;
        cursor: pointer;
        line-height: 0.3;
        &.up {
          top: 0px;
        }

        &.down {
          bottom: 0px;
        }
      }
    }

    /* horizontal scroll */
    &.horizontal {
      width: 100%;
      height: 12px;
      position: absolute;
      vertical-align: middle;
      bottom: 0px;
      z-index: 3;

      .dg-scroll-thumb {
        left: 0px;
        top: 0px;
        height: calc(100% - 4px);
        margin: 2px 14px 0px 14px;
      }

      .dg-scroll-track {
        border-bottom: 1px solid transparent;
      }

      /* scroll button */
      .dg-scroll-button {
        position: absolute;
        top: 0px;
        vertical-align: middle;
        width: 12px;
        cursor: pointer;

        &.left {
          left: 0px;
        }

        &.right {
          right: 0px;
        }
      }
    }
  }
}
