@use '../common/common';

@mixin summary {
  .dg-summary {
    position: relative;
    z-index: 2;

    &.dg-top {
      & > div {
        border-top: 0px solid transparent;
        border-bottom: 1px solid var(--border-color);
        padding-top: 0px;
        padding-bottom: 1px;

        > .dg-body-table {
          border-top: 0px solid transparent;
          .dg-row > .dg-cell {
            border: 1px solid var(--border-color);
          }
        }
      }
    }

    & > div {
      position: absolute;
      background: var(--summary-bg);
      border-top: 1px solid var(--border-color);
      padding-top: 1px;

      &.dg-region-left {
        left: 0px;
        z-index: 1;

        .dg-fixed-column-line {
          right: 0px;
        }
      }

      &.dg-region-center {
        z-index: 0;
      }

      &.dg-region-right {
        right: -1px;
        z-index: 1;

        .dg-fixed-column-line {
          left: 0px;
        }
      }

      > .dg-body-table {
        table-layout: fixed;
        width: 0px !important;
        min-width: auto !important;
        border-collapse: separate !important;
        border-top: 1px solid var(--border-color);
        .dg-row {
          background-color: var(--summary-bg);
        }

        .dg-row > .dg-cell {
          > .dg-cell-renderer {
            padding: 0px 5px;
            margin-top: -2px;

            &.single-line {
              display: flex;
              align-items: center;
            }

            /* 여러 줄 */
            &.multi-line {
              display: block;
            }
          }
        }
      }
    }
  }
}
