/**
 * toolbar css
 */

@mixin toolbar {
  .dg-toolbar {
    position: relative;
    height: 40px;
    overflow: hidden;

    &.dg-has-scroll {
      padding-right: 40px; // 스크롤이 있는 경우 오른쪽 패딩 추가

      .dg-toolbar-arrow {
        display: flex; // 스크롤이 있는 경우 화살표 표시
      }
    }

    .dg-toolbar-arrow {
      position: absolute;
      top: 0;
      width: 36px;
      height: 100%;
      z-index: 100;
      right: 0px;
      display: none;
      align-items: center;
      justify-content: center;

      border: 0;
      cursor: pointer;

      > .dg-button {
        border: 0;
        height: 100%;
        width: 18px;
        padding: 0px;
        cursor: pointer;

        &:hover {
          box-shadow: 0 2px 6px rgba(37, 99, 235, 0.18);
        }
      }
    }

    .dg-toolbar-scroll {
      overflow-x: auto;
      overflow-y: hidden;

      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .dg-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .dg-icon:has(+ span) {
        margin-right: 3px;
      }

      .dg-button-label {
        display: inline-block;
      }
    }

    /* 레이아웃 */
    .dg-toolbar-row {
      display: grid;
      align-items: center;

      width: max-content; // 중요
      min-width: 100%; // 중요
    }

    .dg-toolbar-section {
      display: grid;
      min-width: 0;
      position: relative;
      overflow: visible;

      &.dg-grid-area-left {
        justify-self: start;
        z-index: 2;
      }

      &.dg-grid-area-center {
        justify-self: center;
        z-index: 1;
      }

      &.dg-grid-area-right {
        justify-self: end;
        z-index: 0;
      }

      .dg-toolbar-field {
        display: grid;
        align-items: center;
        min-width: 0;
        width: 100%;
        overflow: hidden;
        grid-template-columns: minmax(0, 1fr);

        .dg-label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.dg-required::after {
            content: '*';
            margin-left: 2px;
            color: #e53935;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        .dg-control {
          min-width: 0;
          width: 100%;

          > * {
            width: 100%;
            min-width: 0;
          }

          .dg-search {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            width: 100%;
            min-width: 0;
            border: 1px solid var(--border-color);
            border-radius: 4px;

            .dg-search-text {
              border: 0;
              margin-left: 5px;
            }

            .dg-search-btn {
              border: 0;
              background: transparent;
              cursor: pointer;
            }
          }
        }

        &.dg-group {
          grid-template-columns: auto minmax(0, 1fr);
          column-gap: 5px;
        }
      }
    }
  }
}
