/**
* toolbar css
*/

@mixin toolbar {
  .dg-toolbar {
    position: relative;
    vertical-align: top;
    height: 40px;
    display: none;
    z-index: 2;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 2px;
    }

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    .dg-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .dg-icon:has(+ span) {
        margin-right: 3px;
      }

      .dg-button-label {
        display: inline-block;
      }
    }

    /* 레이아웃 라인 */
    .dg-toolbar-row {
      display: grid;
      align-items: center;
      width: 100%;
      min-width: 0;
    }

    /* section */
    .dg-toolbar-section {
      display: grid;
      min-width: 0;
      position: relative;
      overflow: visible;

      &.dg-grid-area-left {
        justify-self: start;
        z-index: 2;
      }

      &.dg-grid-area-center {
        justify-self: center;
        z-index: 1;
      }

      &.dg-grid-area-right {
        justify-self: end;
        z-index: 0;
      }

      .dg-toolbar-field {
        display: grid;
        align-items: center;
        min-width: 0;
        width: 100%;
        overflow: hidden;
        grid-template-columns: minmax(0, 1fr);

        /* 레이블 처리 */
        .dg-label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.dg-required::after {
            content: '*';
            margin-left: 2px;
            color: #e53935;
            font-size: 1.2em;
            font-weight: bold;
          }
        }

        /* 컨트롤 내부 요소 방어구조 */
        .dg-control {
          min-width: 0;
          width: 100%;

          > * {
            width: 100%;
            min-width: 0;
          }

          .dg-search {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            width: 100%;
            min-width: 0;
            border: 1px solid var(--border-color);
            border-radius: 4px;

            .dg-search-text {
              border: 0px;
              margin-left: 5px;
            }

            .dg-search-btn {
              border: 0;
              background-color: transparent;
              cursor: pointer;
            }
          }
        }

        &.dg-group {
          grid-template-columns: auto minmax(0, 1fr);
          column-gap: 5px;
        }
      }
    }
  }
}
