/**
* footer css
*/

@mixin footer {
  .dg-footer {
    border: 1px solid var(--border-color);
    background: var(--body-bg);
    border-top-width: 0px;
    position: relative;
    vertical-align: top;
    height: 40px;

    > span {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      vertical-align: middle;

      &.dg-left {
        left: 5px;
      }

      &.dg-center {
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &.dg-right {
        right: 5px;
      }
    }

    .dg-paging {
      > ul {
        display: table-cell;
        vertical-align: middle;
        padding: 0px;

        > li {
          display: inline;

          a,
          span {
            padding: 3px 7px;
            margin: 0px 1px;
            text-decoration: none;
            border-radius: 5px;
            vertical-align: middle;
          }

          &:first-child > a,
          &:first-child > span {
            margin-left: 0;
          }

          > a:hover,
          > span:hover,
          > a:focus,
          > span:focus {
            background-color: #d1e4f5;
          }
        }

        .active > a,
        > .active > span,
        > .active > a:hover,
        > .active > span:hover,
        > .active > a:focus,
        > .active > span:focus {
          z-index: 3;
          color: #fff;
          cursor: default;
          background-color: #4e9ffa;
          border-color: #4e9ffa;
        }

        > .disabled > span,
        > .disabled > span:hover,
        > .disabled > span:focus,
        > .disabled > a,
        > .disabled > a:hover,
        > .disabled > a:focus {
          opacity: 0.6;
          cursor: default;
          border-color: var(--disabled-bg);
          background-color: transparent;
        }
      }
    }

    .dg-status {
      left: 10px;

      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
