/**
* main css
*/
@use './header' as _HEADER;
@use './body' as _BODY;
@use './summary' as _SUMMARY;
@use './scroll' as _SCROLL;

@mixin main {
  .dg-main {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 100px;
    position: relative;
    overscroll-behavior: contain;

    .dg-fixed-column-line {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 1px;
      height: 100%;
      z-index: 2;
      background-color: var(--fixed-column-bg);
    }

    /*scroll 처리*/
    &[data-scroll='horizontal'] {
      .dg-scroll.dg-horizontal {
        display: flex !important;
      }
    }

    &[data-scroll='vertical'] {
      .dg-scroll.dg-vertical {
        display: flex !important;
      }

      .dg-region[data-region='right'] {
        right: 0px !important;
      }
    }

    &[data-scroll='both'] {
      .dg-scroll {
        display: flex !important;
      }

      .dg-scroll-corner {
        display: block !important;
      }

      .dg-region[data-region='right'] {
        right: 0px !important;
      }
    }

    // none 처리 할것.

    &.dg-body-hover-none {
      .dg-row > .dg-cell {
        &:hover {
          --cell-bg-hover: transparent;
        }
      }
    }

    /* main container */
    .dg-panels {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 1;

      > .dg-panel {
        position: relative;
        z-index: 0;
        > .dg-region {
          position: absolute;

          &[data-region='left'] {
            left: 0px;
            z-index: 1;

            .dg-fixed-column-line {
              right: 0px;
            }

            .dg-row > .dg-cell.dg-aside.dg-selection:first-child {
              background: var(--header-bg-selection) !important;
            }
          }

          &[data-region='center'] {
            z-index: 0;
          }

          &[data-region='right'] {
            right: -1px;
            z-index: 1;

            .dg-fixed-column-line {
              left: 0px;
            }
          }

          > .dg-body-table,
          > .dg-header-table {
            table-layout: fixed;
            width: 0px !important;
            min-width: auto !important;
            border-collapse: separate !important;
          }
        }
      }

      .dg-cell {
        vertical-align: middle;
        border: 1px solid var(--border-color);
        border-top: none !important;
        border-left: none !important;
        position: relative;
        padding: 0px !important;
        margin: 0 !important;
        overflow: hidden;

        > .dg-cell-renderer {
          background-color: inherit;
          color: inherit;
        }
      }

      @include _HEADER.header;

      @include _BODY.body;

      @include _SUMMARY.summary;
    }
  }

  .dg-resize-helper {
    width: 0;
    position: absolute;
    display: none;
    height: 100%;
    top: 0px;
    margin-left: -2px;
    z-index: 100;
    border-left: 3px dotted #bcbcbd;

    &.active {
      display: block;
    }
  }

  .dg-drop-indicator {
    width: 100%;
    position: absolute;
    display: none;
    height: 3px;
    top: 0px;
    z-index: 100;
    background-color: #b6b6b6 !important;

    &.active {
      display: block;
    }

    &.dg-drop-forbidden {
      background-color: #d95959 !important;
    }
  }

  /* main scroll */
  .dg-scroll-container {
    z-index: 2;
    @include _SCROLL.scroll;
  }
}
