@use 'sass:map';
@use './common' as *;

$theme: map.merge(
  $theme-common,
  (
    border-color: #585858,
    border-thick-color: #807e7e,

    scroll-bg: #1e1e1e,
    scroll-track-bg: #1e1e1e,
    scroll-thumb-bg: #555,
    scroll-thumb-hover-bg: #777,
    scroll-button-bg: #333,
    search-cell-highlight: #565552,
    search-cell-match: #776b51,

    status-danger-color: #ff6b6b,
    status-danger-bg: #ff6b6b,

    font-color: #e0e0e0,
    font-hover-color: #ffffff,
    font-disable-color: #ebebeb,
    invalid-font-color: #ff9b9b,
    invalid-border-color: #ff5e5e,
    invalid-bg: #3a1f1f,

    button-bg: #5a5a5a,
    button-bg-hover: #727272,
    button-bg-active: #616161,

    tab-bg: #2c2c2c,
    tab-bg-hover: #3c3c3c,

    tooltip-bg: #444,
    tooltip-color: #fff,

    field-margin-top: 10px,

    input-bg: #2a2a2a,
    input-color: #f0f0f0,

    header-bg: #1a1717,
    header-gradient1: #525252,
    header-gradient2: #000000,
    body-bg: #1a1a1a,
    body-bg-thin: #444343,
    body-bg-hover: #565555,
    summary-bg: #2c2c2c,
    disabled-bg: #555,

    fixed-column-bg: #cfcfcf,

    header-help-bg: #e8e8e8,
    header-help-bg-hover: #e8e8e8,

    header-bg-selection: #565656,

    cell-bg-hover: #2b2b2b,
    cell-bg-selection: #264f78,
    cell-selection-border: #47dcfa,

    cell-bg-linenumber: #2e2e2e,
    row-bg: #444546,

    empty-icon-color: #888,

    // 바탕 없을때
    icon-stroke-color: #fffbfb,
    // 바탕 있을때
    icon-fill-stroke-color: #1a1a1a,

    check-bg: #979797,
    check-active-bg: #00c1ff,
    check-mark-color: #4e4e4e,
    check-indeterminate-bg: #fffbfb,

    bar-positive-bg: #77c0fc,
    bar-negative-bg: #ff8989,

    item-selected: #264f78,
    item-check-color: #68a9ff,
  )
);
