@mixin opacityVal($opacityNum: 0.7) {
  $perVal: $opacityNum * 100;
  opacity: $opacityNum;
  -moz-opacity: $opacityNum;
  -khtml-opacity: $opacityNum;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$perVal})';
  filter: alpha(opacity=$perVal);
}
